<app-notification></app-notification>
<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">
  <!-- Begin Page Content -->
  <div class="container-fluid">
    <div class="card card-body">
      <div *ngIf="!ready" class="text-center p-5">
        <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
        </div>
      </div>
      <div *ngIf="ready" class="table-responsive col-sm-12">
        <table class="table dataTable">
          <thead>
            <tr role="row">
              <th>Atuendo</th>
              <th>Calificación</th>
              <th> </th>
            </tr>
          </thead>
          <tbody>
            <!-- Inicio de registro -->
            <tr role="row" *ngFor="let dressing of dressings">
              <td>
                <ul>
                  <li>
                    <span *ngIf="dressing.prendaSuperior">{{dressing.prendaSuperior.nombre}}</span>
                    <span *ngIf="!dressing.prendaSuperior">-</span>
                  </li>
                  <li>
                    <span *ngIf="dressing.prendaInferior">{{dressing.prendaInferior.nombre}}</span>
                    <span *ngIf="!dressing.prendaInferior">-</span>
                  </li>
                  <li>
                    <span *ngIf="dressing.prendaCalzado">{{dressing.prendaCalzado.nombre}}</span>
                    <span *ngIf="!dressing.prendaCalzado">-</span>
                  </li>
                  <li>
                    <span *ngIf="dressing.abrigoLigero">{{dressing.abrigoLigero.nombre}}</span>
                    <span *ngIf="!dressing.abrigoLigero">-</span>
                  </li>
                  <li>
                    <span *ngIf="dressing.abrigoPesado">{{dressing.abrigoPesado.nombre}}</span>
                    <span *ngIf="!dressing.abrigoPesado">-</span>
                  </li>
                  <li>
                    <span *ngIf="dressing.prendaAccesorio">{{dressing.prendaAccesorio.nombre}}</span>
                    <span *ngIf="!dressing.prendaAccesorio">-</span>
                  </li>
                </ul>
              </td>
              <td>
                <span *ngIf="dressing.calificacion">{{dressing.calificacion}}</span>
                <span *ngIf="!dressing.calificacion">-</span>
              </td>
              <td>
                <button class="btn btn-primary" data-toggle="modal" (click)="setUpdated(dressing.id)" data-target="#modalRating">
                  <span *ngIf="dressing.calificacion" class="text">Modificar</span>
                  <span *ngIf="!dressing.calificacion" class="text">Calificar</span>
                </button>
              </td>
            </tr>
            <app-rate-modal [type]="'DRESSING'" [id]="updated" (finish)="setRatingsFromServer()"></app-rate-modal>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</div>
<!-- End of Content Wrapper -->
