<app-notification></app-notification>
<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">
  <!-- Begin Page Content -->
  <div class="container-fluid">
    <div class="card card-body">
      <div *ngIf="!ready" class="text-center p-5">
        <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
        </div>
      </div>
      <div *ngIf="ready" class="table-responsive col-sm-12">
        <table class="table dataTable">
          <thead>
            <tr role="row">
              <th>Nombre</th>
              <th>Evento</th>
              <th>Calificación</th>
              <th> </th>
            </tr>
          </thead>
          <tbody>
            <!-- Inicio de registro -->
            <tr role="row" *ngFor="let dressing of dressings">
              <td>{{dressing.nombre}}</td>
              <td>{{dressing.evento.nombre}}</td>
              <td>{{dressing.rate}}</td>
              <td>
                <button class="btn btn-primary" data-toggle="modal" (click)="setUpdated(dressing.id)" data-target="#modalRating">
                  <span *ngIf="dressing.rate" class="text">Modificar</span>
                  <span *ngIf="!dressing.rate" class="text">Calificar</span>
                </button>
              </td>
            </tr>
            <app-rate-modal [type]="'DRESSING'" [id]="updated" (finish)="setRatingsFromServer()"></app-rate-modal>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</div>
<!-- End of Content Wrapper -->
