<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">
  <!-- Begin Page Content -->
  <div class="container-fluid">
    <div class="card card-body">
      <div class="row" style="margin: 0">
        <a routerLink="add" class="btn btn-success">
          <span class="text">Agregar</span>
        </a>
      </div>
      <div class="table-responsive col-sm-12">
        <table *ngIf="itemsWithRatings" class="table dataTable">
          <thead>
            <tr role="row">
              <th class="w-25">Foto</th>
              <th>Tipo</th>
              <th>Calificar</th>
              <th> </th>
            </tr>
          </thead>
          <tbody>
            <!-- Inicio de registro -->
            <tr role="row" *ngFor="let itemWithRate of itemsWithRatings">
              <td><img src="https://ddsgrupo6.000webhostapp.com/img/{{itemWithRate.item.id}}.jpg" class="img-fluid img-thumbnail"></td>
              <td>{{itemWithRate.item.tipoPrenda.nombre}}</td>
              <td>
                {{itemWithRate.rating}}
              </td>
              <td>
                <button class="btn btn-primary" data-toggle="modal" (click)="setRatingItem(itemWithRate.item.id)" data-target="#modalRating">
                  <span class="text">Calificar</span>
                </button>
                <app-rate-modal [type]="'ITEM'" [id]="ratingItemId" (finish)="onRating()"></app-rate-modal>
                <button class="btn btn-danger">
                  <span class="text" (click)="deleteItem(itemWithRate.item.id)">Eliminar</span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</div>
<!-- End of Content Wrapper -->
