<app-notification></app-notification>
<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">
  <!-- Begin Page Content -->
  <div class="container-fluid">
    <div class="card card-body">
      <div class="row" style="margin: 0">
        <a routerLink="add" class="btn btn-success">
          <span class="text">Agregar</span>
        </a>
      </div>
      <div *ngIf="!ready" class="text-center p-5">
        <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
        </div>
      </div>
      <div *ngIf="ready" class="table-responsive col-sm-12">
        <table *ngIf="itemsWithRatings" class="table dataTable">
          <thead>
            <tr role="row">
              <th class="w-25">Foto</th>
              <th>Tipo</th>
              <th>
                <span class="d-none d-sm-table-cell">Calificación</span>
              </th>
              <th> </th>
            </tr>
          </thead>
          <tbody>
            <!-- Inicio de registro -->
            <tr role="row" *ngFor="let itemWithRate of itemsWithRatings">
              <td style="cursor: pointer;">
                <img src="https://ddsgrupo6.000webhostapp.com/img/{{itemWithRate.item.id}}.jpg"
                  onerror="this.onerror=null; this.src='https://upload.wikimedia.org/wikipedia/commons/thumb/d/da/Imagen_no_disponible.svg/768px-Imagen_no_disponible.svg.png'"
                  class="img-fluid img-thumbnail"
                  data-toggle="modal"
                  data-target="#itemImageModal"
                  (click)="setModalItemId(itemWithRate.item.id)">

                <div class="modal fade" id="itemImageModal" tabindex="-1" role="dialog" aria-labelledby="itemImageModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <img class="img-fluid" src="https://ddsgrupo6.000webhostapp.com/img/{{modalItemId}}.jpg" />
                  </div>
                </div>


              </td>
              <td>{{itemWithRate.item.nombre}}</td>
              <td>
                <span *ngIf="itemWithRate.rating">{{itemWithRate.rating}}</span>
                <span *ngIf="!itemWithRate.rating">-</span>
              </td>
              <td>
                <button class="btn btn-primary" data-toggle="modal" (click)="setRatingItem(itemWithRate.item.id)" data-target="#modalRating">
                  <span class="text">Calificar</span>
                </button>
                <app-rate-modal [type]="'ITEM'" [id]="ratingItemId" (finish)="onRating()"></app-rate-modal>
                <button class="btn btn-danger" (click)="setDeletedItem(itemWithRate.item)" data-toggle="modal" data-target="#deleteModal">
                  <span class="text">Eliminar</span>
                </button>
                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-body">
                        ¿Eliminar prenda "{{deletedItem.nombre}}"?
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteItem()">Eliminar</button>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</div>
<!-- End of Content Wrapper -->
