<div class="modal animated--grow-in" id="modalRating" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
  <div class="modal-content">
    <div class="modal-header mx-auto">
      <h5 *ngIf="type === 'DRESSING'">Calificar atuendo</h5>
      <h5 *ngIf="type === 'ITEM'">Calificar prenda</h5>
    </div>
    <div class="modal-body mx-auto">
      <div class="btn-group" role="group" data-dismiss="modal">
        <button type="button" (click)="setRating(1)" class="btn btn-secondary">1</button>
        <button type="button" (click)="setRating(2)" class="btn btn-secondary">2</button>
        <button type="button" (click)="setRating(3)" class="btn btn-secondary">3</button>
        <button type="button" (click)="setRating(4)" class="btn btn-secondary">4</button>
        <button type="button" (click)="setRating(5)" class="btn btn-secondary">5</button>
      </div>
    </div>
  </div>
</div>
