
<div class="modal animated--grow-in" id="modalRating" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
  <div class="modal-content">
    <div class="modal-header mx-auto">
      <h5>Calificar atuendo</h5>
    </div>
    <div class="modal-body mx-auto">
      <div class="btn-group" role="group" data-dismiss="modal">
        <button type="button" class="btn btn-secondary">1</button>
        <button type="button" class="btn btn-secondary">2</button>
        <button type="button" class="btn btn-secondary">3</button>
        <button type="button" class="btn btn-secondary">4</button>
        <button type="button" class="btn btn-secondary">5</button>
      </div>
    </div>
  </div>
</div>
