<app-notification></app-notification>
<div class="d-flex flex-column">
  <div class="container-fluid">
    <!-- Vista de calendario -->
    <div class="my-3" style="max-width: 800px">
      <div id="calendar"></div>
    </div>
    <div class="card card-body">
      <h4 *ngIf="!events || events.length === 0">No hay eventos</h4>
      <div class="row" style="margin: 0">
        <a routerLink="add" class="btn btn-success">
          <span class="text">Agregar</span>
        </a>
      </div>
      <div *ngIf="!ready" class="text-center p-5">
        <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
        </div>
      </div>
      <div *ngIf="ready" class="table-responsive col-sm-12">
        <table class="table dataTable">
          <thead>
            <tr role="row">
              <th>Nombre</th>
              <th class="d-none d-sm-table-cell">Lugar</th>
              <th class="d-none d-sm-table-cell">Fecha</th>
              <th> </th>
            </tr>
          </thead>
          <tbody id="eventsList">
            <!-- Fila evento-->
            <tr *ngFor="let event of events" role="row">
              <td>{{event.nombre}}</td>
              <td class="d-none d-sm-table-cell">
                <span *ngIf="event.ciudad">{{event.ciudad | cities}}</span>
                <span *ngIf="!event.ciudad">-</span>
              </td>
              <td class="d-none d-sm-table-cell">
                <span *ngIf="isValidDate(event.fecha)">{{event.fecha | date}}</span>
                <span *ngIf="!isValidDate(event.fecha)">-</span>
              </td>
              <td>
                <a class="btn btn-primary" routerLink="{{event.id}}" >
                  <span class="text">Información</span>
                </a>
                <button class="btn btn-danger" data-toggle="modal" (click)="setDeleteId(event.id)" data-target="#modalEliminarEvento1">
                  <span class="text">Eliminar</span>
                </button>
              </td>
            </tr>
            <!-- Modal -->
            <div class="modal animated--grow-in" id="modalEliminarEvento1" tabindex="-1" role="dialog">
              <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                <div class="modal-content">
                  <div class="modal-body">
                    <h5>¿Eliminar evento {{deleteId}}?</h5>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="delete()">Eliminar</button>
                  </div>
                </div>
              </div>
            </div>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
