<app-notification></app-notification>
<div class="container-fluid">
  <div class="card">

    <div class="table-responsive col-sm-12">
      <!-- INICIO WIZARD -->
      <div class="wrapper">
        <h3>Alta de Prenda</h3>
        <form action="" id="wizard">
          <!-- SECTION 1 -->
          <section *ngIf="currentStep === 1">
            <div class="form-row">
              <div class="form-col">
                <label for="">
                  Nueva prenda
                </label>
                <div class="form-holder">
                  <i class="zmdi zmdi-account-o"></i>
                  <select class="form-control" (click)="setAllowedMaterials()" [(ngModel)]="itemDto.tipoPrendaID" name="tipoPrenda">
                    <option (click)="setAllowedMaterials()" *ngFor="let itemType of itemTypes" [value]="itemType.id">
                      {{itemType.nombre}}</option>
                  </select>
                  <i class="zmdi zmdi-chevron-down"></i>
                </div>
              </div>
              <div class="form-col">
                <label for="">
                  Material
                </label>
                <div class="form-holder">
                  <i class="zmdi zmdi-account-o"></i>
                  <select [(ngModel)]="itemDto.materialId" name="material" class="form-control">
                    <option *ngFor="let material of allowedMaterials" [value]="material.id">{{material.nombre}}</option>
                  </select>
                  <i class="zmdi zmdi-chevron-down"></i>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-col">
                <label for="">
                  Color principal
                </label>
                <div class="form-holder">
                  <input type="color" name="firstColor" [(ngModel)]="itemDto.colorPrincipal">
                </div>
              </div>
              <div class="form-col">
                <label for="">
                  Color secundario
                </label>
                <div class="form-holder">
                  <input type="color" name="firstColor" [(ngModel)]="itemDto.colorSecundario">
                </div>
              </div>
            </div>
            <div class="form-row">
            </div>
          </section>

          <!-- SECTION 2 -->
          <section *ngIf="currentStep === 2">
            <div class="form-row">
              <div class="form-col">
                <label for="">
                  Nombre de Prenda
                </label>
                <div class="form-holder">
                  <i class="zmdi zmdi-account-o"></i>
                  <input type="text" class="form-control" name="nombrePrenda" [(ngModel)]="itemDto.nombrePrenda" />
                </div>
              </div>

              <div class="form-col">
                <label for="">
                  Guardarropa
                </label>
                <div class="form-holder">
                  <i class="zmdi zmdi-account-o"></i>
                  <select name="closetId" [(ngModel)]="itemDto.guardarropaID" class="form-control">
                    <option *ngFor="let closet of closets" [value]="closet.id">{{closet.nombre}}</option>
                  </select>
                  <i class="zmdi zmdi-chevron-down"></i>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-col">
                <label for="">
                  Imagen de Prenda
                </label>
                <div class="form-holder">
                  <app-file-uploader></app-file-uploader>
                </div>
              </div>
            </div>
          </section>
          <button [disabled]="currentStep === 1" (click)="back()" class="btn btn-primary">Atrás</button>
          <button *ngIf="currentStep === 1" (click)="forward()" class="btn btn-primary">Siguiente</button>
          <button [disabled]="!isComplete() || !hasFile() || isLoading()" *ngIf="currentStep === 2" (click)="send()"
            class="btn btn-outline-primary">
            <span *ngIf="!isLoading()">Confirmar</span>
            <span *ngIf="isLoading()" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          </button>

        </form>
      </div>
    </div>
    <!-- FIN WIZARD -->
  </div>
</div>
