<script src="wizard.js"></script>
<script src="jquery.step.js"></script>
<div class="container-fluid">
  <div class="card">

    <div class="table-responsive col-sm-12">
      <!-- INICIO WIZARD -->

      <div class="wrapper">
        <form action="" id="wizard">
          <!-- SECTION 1 -->
          <h4></h4>
          <section>
            <h3>Alta de Prenda</h3>
            <div class="form-row">
              <div class="form-col">
                <label for="">
                  Tipo de Prenda
                </label>
                <div class="form-holder">
                  <i class="zmdi zmdi-account-o"></i>
                  <select name="" id="" class="form-control">
                    <option value="Superior" class="option">Superior</option>
                    <option value="Inferior" class="option">Inferior</option>
                    <option value="Accesorio" class="option">Accesorio</option>
                  </select>
                  <i class="zmdi zmdi-chevron-down"></i>
                </div>
              </div>
              <div class="form-col">
                <label for="">
                  Puntaje Prenda
                </label>
                <div class="form-holder">
                  <i class="zmdi zmdi-account-o"></i>
                  <select name="" id="" class="form-control">
                    <option value="★" class="option">★</option>
                    <option value="★★" class="option">★★</option>
                    <option value="★★★" class="option">★★★</option>
                  </select>
                  <i class="zmdi zmdi-chevron-down"></i>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-col">
                <label for="">
                  Color
                </label>
                <div class="form-holder">
                  <i class="zmdi zmdi-account-o"></i>
                  <select name="" id="" class="form-control">
                    <option value="Rojo" class="option">Rojo</option>
                    <option value="Gris" class="option">Azul</option>
                    <option value="Azul" class="option">Gris</option>
                  </select>
                  <i class="zmdi zmdi-chevron-down"></i>
                </div>
              </div>
              <div class="form-col">
                <label for="">
                  Asigna Guardarropas
                </label>
                <div class="form-holder">
                  <i class="zmdi zmdi-account-o"></i>
                  <select name="" id="" class="form-control">
                    <option value="Guardarropas nº1" class="option">Guardarropas nº1</option>
                    <option value="Guardarropas nº2" class="option">Guardarropas nº2</option>
                    <option value="Guardarropas nº3" class="option">Guardarropas nº3</option>
                  </select>
                  <i class="zmdi zmdi-chevron-down"></i>
                </div>
              </div>
            </div>
            <div class="form-row">


            </div>
          </section>

          <!-- SECTION 2 -->
          <h4></h4>
          <section>
            <h3>Alta de Prenda</h3>
            <div class="form-row">
              <div class="form-col">
                <label for="">
                  Tipo de Uso
                </label>
                <div class="form-holder">
                  <i class="zmdi zmdi-account-o"></i>
                  <select name="" id="" class="form-control">
                    <option value="Formal" class="option">Formal</option>
                    <option value="Futbol" class="option">Futbol</option>
                    <option value="Informal" class="option">Informal</option>
                  </select>
                  <i class="zmdi zmdi-chevron-down"></i>
                </div>
              </div>
              <div class="form-col">
                <label for="">
                  Tipo 2
                </label>
                <div class="form-holder">
                  <i class="zmdi zmdi-account-o"></i>
                  <select name="" id="" class="form-control">
                    <option value="Formal" class="option">Formal</option>
                    <option value="Futbol" class="option">Futbol</option>
                    <option value="Informal" class="option">Informal</option>
                  </select>
                  <i class="zmdi zmdi-chevron-down"></i>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-col">
                <label for="">
                  Tipo 3
                </label>
                <div class="form-holder">
                  <i class="zmdi zmdi-account-o"></i>
                  <select name="" id="" class="form-control">
                    <option value="Formal" class="option">Formal</option>
                    <option value="Futbol" class="option">Futbol</option>
                    <option value="Informal" class="option">Informal</option>
                  </select>
                  <i class="zmdi zmdi-chevron-down"></i>
                </div>
              </div>
              <div class="form-col">
                <label for="">
                  Tipo 4
                </label>
                <div class="form-holder">
                  <i class="zmdi zmdi-account-o"></i>
                  <select name="" id="" class="form-control">
                    <option value="Formal" class="option">Formal</option>
                    <option value="Futbol" class="option">Futbol</option>
                    <option value="Informal" class="option">Informal</option>
                  </select>
                  <i class="zmdi zmdi-chevron-down"></i>
                </div>
              </div>
            </div>

          </section>

          <!-- SECTION 3 -->
          <h4></h4>
          <section>
            <h3>Alta de Prenda</h3>
            <div class="form-row">
              <div class="form-col">
                <label for="">
                  Imagen de Prenda
                </label>
                <div class="form-holder">
                  <!-- <i class="zmdi zmdi-account-o"></i>-->
                  <input id="files-upload" type="file">
                </div>
              </div>
              <div class="form-col">
                <label for="">
                  Nombre de Prenda
                </label>
                <div class="form-holder">
                  <i class="zmdi zmdi-account-o"></i>

                  <input type="text" class="form-control">
                </div>
              </div>
            </div>


          </section>
        </form>
      </div>
    </div>
    <!-- Template created and distributed by Colorlib -->
    <!-- FIN WIZARD -->
  </div>
  <app-file-uploader></app-file-uploader>
  <button type="button" class="input-group-text btn btn-outline-primary"
      (click)="uploadFile()"
      [disabled]="!hasFile() || isLoading()">
    <span *ngIf="!isLoading()">Subir</span>
    <span *ngIf="isLoading()" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
  </button>
</div>
