<div class="container-fluid">
  <div class="card">

    <div class="table-responsive col-sm-12">
      <!-- INICIO WIZARD -->

      <div class="wrapper">
        <h3>Alta de Prenda</h3>
        <span *ngIf="itemDto"> prenda {{itemDto.tipoPrendaID}}</span>
        <form action="" id="wizard">
          <!-- SECTION 1 -->
          <h4></h4>
          <section *ngIf="currentStep === 1">
            <div class="form-row">
              <div class="form-col">
                <label for="">
                  Tipo de Prenda
                </label>
                <div class="form-holder">
                  <i class="zmdi zmdi-account-o"></i>
                  <select class="form-control" [(ngModel)]="itemDto.tipoPrendaID" name="tipoPrenda">
                    <option *ngFor="let itemType of itemTypes" [value]="itemType.id">{{itemType.nombre}}</option>
                  </select>
                  <i class="zmdi zmdi-chevron-down"></i>
                </div>
              </div>
              <div class="form-col">
                <label for="">
                  Puntaje Prenda
                </label>
                <div class="form-holder">
                  <i class="zmdi zmdi-account-o"></i>
                  <select name="" id="" class="form-control">
                    <option value="★" class="option">★</option>
                    <option value="★★" class="option">★★</option>
                    <option value="★★★" class="option">★★★</option>
                  </select>
                  <i class="zmdi zmdi-chevron-down"></i>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-col">
                <label for="">
                  Color
                </label>
                <div class="form-holder">
                  <i class="zmdi zmdi-account-o"></i>
                  <select name="" id="" class="form-control">
                    <option value="Rojo" class="option">Rojo</option>
                    <option value="Gris" class="option">Azul</option>
                    <option value="Azul" class="option">Gris</option>
                  </select>
                  <i class="zmdi zmdi-chevron-down"></i>
                </div>
              </div>
              <div class="form-col">
                <label for="">
                  Asigna Guardarropas
                </label>
                <div class="form-holder">
                  <i class="zmdi zmdi-account-o"></i>
                  <select name="" id="" class="form-control">
                    <option value="Guardarropas nº1" class="option">Guardarropas nº1</option>
                    <option value="Guardarropas nº2" class="option">Guardarropas nº2</option>
                    <option value="Guardarropas nº3" class="option">Guardarropas nº3</option>
                  </select>
                  <i class="zmdi zmdi-chevron-down"></i>
                </div>
              </div>
            </div>
            <div class="form-row">
            </div>
          </section>

          <!-- SECTION 2 -->
          <h4></h4>
          <section *ngIf="currentStep === 2">
            <div class="form-row">
              <div class="form-col">
                <label for="">
                  Imagen de Prenda
                </label>
                <div class="form-holder">
                  <app-file-uploader></app-file-uploader>
                </div>
              </div>
              <div class="form-col">
                <label for="">
                  Nombre de Prenda
                </label>
                <div class="form-holder">
                  <i class="zmdi zmdi-account-o"></i>

                  <input type="text" class="form-control">
                </div>
              </div>
            </div>
          </section>
          <button [disabled]="currentStep === 1" (click)="back()" class="btn btn-primary">Atrás</button>
          <button *ngIf="currentStep === 1" (click)="forward()" class="btn btn-primary">Siguiente</button>
          <button [disabled]="!isComplete() || !hasFile() || isLoading()" *ngIf="currentStep === 2" (click)="send()"
            class="btn btn-outline-primary">
            <span *ngIf="!isLoading()">Confirmar</span>
            <span *ngIf="isLoading()" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          </button>

        </form>
      </div>
    </div>
    <!-- Template created and distributed by Colorlib -->
    <!-- FIN WIZARD -->
  </div>
  <button type="button" class="input-group-text btn btn-outline-primary" (click)="uploadFile()"
    [disabled]="!hasFile() || isLoading()">
    <span *ngIf="!isLoading()">Subir</span>
    <span *ngIf="isLoading()" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
  </button>
</div>
