<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#app-navbar" aria-controls="app-navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLink="">Que me pongo?</a>

  <div class="collapse navbar-collapse" id="app-navbar">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="closets">Guardarropas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="items">Prendas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="events">Eventos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Calificaciones</a>
      </li>
    </ul>
    <span>token: {{token}}</span>
  </div>
</nav>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="">Inicio</a></li>
    <li *ngFor="let item of url; index as i"
    class="breadcrumb-item"
    >
    <a routerLink="{{breadcrumbStep(i)}}">{{translateMap.get(item)}}</a></li>
  </ol>
</nav>
